.orange-color {
    color: #FA7435;
}

.deals-subtitle {
    text-align: center;
}

.discounts-carousel-card {
    height: auto;
    border-radius: 8px;
    border: 2px solid rgba(102, 102, 102, 0.08);
    background: #fefcfb;
    margin-right: 1rem;
    margin-left: 1rem;
}

.img-deals {
    height: 270px;
    width: 290px;
}

/*
.title {
    margin-top: 6vh;
    margin-bottom: 2vh;
}
*/
/*font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;*/
.deals-title {
    font-weight: bold;
    color: #222;
    text-align: center;
}

.card-deals-title {
    font-weight: bold;
}

.svg-star {
    color: rgb(245, 245, 19);
}

.card-deals-body {
    padding: 1.3vh;
}

.discounts-carousel-card:hover {
    box-shadow: 0px 16px 80px 0px rgba(254, 147, 94, 0.2);
}

.carousel-img:hover {
    filter: brightness(70%);
}

.svg-location {
    color: rgba(151, 151, 147, 0.616);
}

/*FFF*/
.card-exclusive {
    border: 1px solid #c0b7b79c !important;
    background-color: white !important;
}

.arrows button {
    border-radius: 50%;
}

.oldprice {
    font-size: 1.1rem;
    text-decoration: line-through;
    width: 100px;
}

.price {
    font-size: 1.1rem;
    color: #FA7436;
    background-color: #fd883a8a;
    border-radius: 10%;
}

.arrows button i {
    color: #666;
    font-size: 1.5rem;
}

.arrows button:hover {
    background: #fa7436;
    border: none;
}

.arrows button:hover i {
    color: white;
}

.arrows button:active {
    background-color: white;
    border: none;
}

.arrows button:active i {
    color: #fa7436;
}

.svg-right-arrow {
    color: rgb(202, 200, 200);
    height: 40px !important;
}

.svg-left-arrow {
    color: rgb(202, 200, 200);
    height: 40px !important;
}